@font-face {
  font-family: 'Amsterdam Four';
  src: url("../fonts/alex-brush/AlexBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-size: normal; }

* {
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke; }

.nav-design nav, body nav {
  box-shadow: 20px 20px 60px black, -20px -20px 60px black;
  padding: 1.4em;
  background-color: #BF4226;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px; }
  .nav-design nav #division-1 div, body nav #division-1 div {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav-design nav #division-1 div img, body nav #division-1 div img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%; }
    .nav-design nav #division-1 div p, body nav #division-1 div p {
      font-family: "Open Sans", sans-serif;
      color: #F2F1E9;
      font-size: 1.3rem; }
  .nav-design nav #division-2, body nav #division-2 {
    width: 35%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav-design nav #division-2 div, body nav #division-2 div {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .nav-design nav #division-2 div a, body nav #division-2 div a {
        text-decoration: none;
        color: #F2F1E9; }

body {
  background-image: url("../../assets/background/image-background-leaderboard.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  body main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white; }
    body main #table-container {
      padding: 25px;
      border-radius: 20px;
      width: 60%;
      max-height: 80%;
      /* Adjust the height as needed */
      overflow-y: auto;
      background-color: #BF4226;
      box-shadow: 20px 20px 60px black, -20px -20px 60px black; }
      body main #table-container::-webkit-scrollbar {
        width: 0.1em; }
      body main #table-container::-webkit-scrollbar-thumb {
        background-color: transparent; }
    body main #leaderboardTable {
      border-collapse: separate;
      border-spacing: 0 6px;
      width: 100%; }
      body main #leaderboardTable img {
        width: 20px;
        height: 20px; }
    body main td {
      background-color: #A64724; }
    body main td:has(img) {
      display: flex;
      align-items: center; }
    body main th,
    body main td {
      text-align: left;
      padding: 8px; }
    body main #tbody-tr > :first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
    body main #tbody-tr > :last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px; }
