@font-face {
  font-family: 'Amsterdam Four';
  src: url("../fonts/alex-brush/AlexBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-size: normal; }

* {
  margin: 0;
  box-sizing: border-box; }

.nav-design nav, body nav {
  box-shadow: 20px 20px 60px black, -20px -20px 60px black;
  padding: 1.4em;
  background-color: #BF4226;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav-design nav #division-1 div, body nav #division-1 div {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav-design nav #division-1 div img, body nav #division-1 div img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%; }
    .nav-design nav #division-1 div p, body nav #division-1 div p {
      font-family: "Open Sans", sans-serif;
      color: #F2F1E9;
      font-size: 1.3rem; }
  .nav-design nav #division-2 div, body nav #division-2 div {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav-design nav #division-2 div a, body nav #division-2 div a {
      text-decoration: none;
      color: #F2F1E9; }

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/background/image-background-login.jpg");
  background-size: cover; }
  body main form {
    box-shadow: 20px 20px 60px black, -20px -20px 60px black;
    position: absolute;
    top: 30%;
    right: 36%;
    background-color: #F2F1E9;
    width: 35em;
    height: 25em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body main form h1 {
      margin-bottom: 10px; }
    body main form .left-flexer {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 70%;
      margin-top: 5px; }
    body main form #line-flexer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%; }
      body main form #line-flexer div {
        flex: 1; }
      body main form #line-flexer label {
        margin-left: 2px;
        margin-right: 2px; }
    body main form .line-dash {
      width: 100%;
      height: 1px;
      background-color: gray; }
    body main form input {
      padding: 10px;
      margin: 10px;
      width: 70%; }
    body main form button {
      cursor: pointer;
      width: 15em;
      height: 3.5em;
      background-color: #BF4226;
      border-radius: 19px;
      border: none;
      margin-top: 23px; }
