@font-face {
  font-family: 'Amsterdam Four';
  src: url("../fonts/alex-brush/AlexBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-size: normal; }

* {
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke; }

.nav-design nav, body nav {
  box-shadow: 20px 20px 60px black, -20px -20px 60px black;
  padding: 1.4em;
  background-color: #BF4226;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px; }
  .nav-design nav #division-1 div, body nav #division-1 div {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav-design nav #division-1 div img, body nav #division-1 div img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%; }
    .nav-design nav #division-1 div p, body nav #division-1 div p {
      font-family: "Open Sans", sans-serif;
      color: #F2F1E9;
      font-size: 1.3rem; }
  .nav-design nav #division-2 div, body nav #division-2 div {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav-design nav #division-2 div a, body nav #division-2 div a {
      text-decoration: none;
      color: #F2F1E9; }

* {
  color: black; }

body {
  height: 100vh;
  weight: 100vw;
  position: relative;
  background-image: url("../../assets/background/image-background-register.jpg");
  background-size: cover; }
  body form {
    position: absolute;
    top: 23%;
    right: 36%;
    box-shadow: 20px 20px 60px black, -20px -20px 60px black;
    background-color: #F2F1E9;
    border-radius: 20px;
    width: 45em;
    height: 40em;
    padding-left: 9em; }
    body form div h1 {
      margin-top: 1.5em;
      margin-left: 2em;
      margin-bottom: 1em; }
    body form div .line-dash {
      width: 100%;
      height: 1px;
      background-color: gray; }
    body form div #genderSubmitDiv {
      margin-left: 15px;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    body form div #fullName {
      display: flex; }
      body form div #fullName input {
        width: 33%; }
    body form div #optional-div {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center; }
    body form div #alrhvanacc-label {
      margin-top: 12px; }
    body form div #gender-option {
      display: flex;
      width: 70%; }
      body form div #gender-option div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%; }
    body form div input {
      padding: 10px;
      margin: 10px;
      width: 70%; }
    body form div #submitBttn {
      cursor: pointer;
      width: 15em;
      height: 3.5em;
      background-color: #BF4226;
      border-radius: 19px;
      border: none;
      margin-top: 23px; }
    body form div a {
      margin-bottom: 10px; }
