@import "partials/theme-setup";
@import "partials/config";
@import "partials/logged-in-nav";

body {
    //nav
    @extend .nav-design;
    color: white;
    background-color: beige;
    background-image: url(../../assets/background/image-background-profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        #containerProfile {
            padding: 50px;
            width: 50%;
            height: 80%;
            background-color: $primary-color;
            box-shadow: 20px 20px 60px black, -20px -20px 60px black;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;

            #starImage {
                width: 50px;
                height: 50px;
            }

            #userProfile {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

            #profileUpperLeftSide {
                padding: 20px;
             
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 50%;
                height: 50%;
                background-color: $secondary-color ;
                border-radius: 20px;
                

                #dividerUpperLeftSide {
                    margin: 5px;
                    padding: 20px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: 100%;
                    #greeting-text {
                        margin-left: 50px;
                        margin-bottom: 20px;
                    }
                    #dividerEditProfile {
                        display: flex;
                        flex-direction: column;
                  
                        img, button {
                            margin: 5px;
                        }
                    }
                }
                #dividerUpperLeftSide2 {
                    
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

            }
            
            #profileLowerLeftSide {
                padding: 20px;
                width: 50%;
                height: 50%;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                background-color: $secondary-color;
                border-radius: 20px;
                #badgeBttn {
                    width: 45%;
                    height: 100%;
                    border-radius: 20px;
                    background-color: $primary-color;
                    border: none;
                    color: white;  
                    cursor: pointer;
                }
                #logoutBttn {
                    width: 45%;
                    height: 100%;
                    border-radius: 20px;
                    background-color: $primary-color;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
                #buttons-profile-badge-logout {
                    
                    display: flex;
                    width: 50%;
                    height: 20%;
                    justify-content: space-around;
                    align-items: center;
                }

            }

        }
    }

}