@import "partials/theme-setup";
@import "partials/config";
@import "partials/logged-in-nav";
#centerer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#center-quiz-result {
    width: 100%;
    @extend #centerer;
}
#centerer-with-width-for-quiz-result {
    @extend #centerer;
    width: 98%;
    background-color: $secondary-color;
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
}
body {
  background-image: url("../../assets/background/image-background-quiz-result.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  main {
    width: 100vw;
    height: 100vh;
    @extend #centerer;
    #quiz-container {
        #quiz-result-title {
            margin-top: 1em;
            text-align: center;
        }
      background-color: $primary-color;
      width: 50%;
      border-radius: 20px;
      box-shadow: 20px 20px 60px black, -20px -20px 60px black;
      #result-show {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 20em;
      }
      #quiz-result-container {
        width: 100%;
        max-height: 25em;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0.1em;
          }
        
          &::-webkit-scrollbar-thumb {
            background-color: transparent;
          }
      }
    }
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
