@import "partials/theme-setup";
@import "partials/config";
@import "partials/nav";

body {
  height: 100vh;
  weight: 100vw;
  position: relative;
  background-image: url("../../assets/background/image-background-register.jpg");
  background-size: cover;

  // nav
  @extend .nav-design;

  // form
  form {
    position: absolute;
    top: 23%;
    right: 36%;
    box-shadow: 20px 20px 60px black, -20px -20px 60px black;
    background-color: $quinary-color;
    border-radius: 20px;
    width: 45em;
    height: 40em;
    padding-left: 9em;

    

    div {
      h1 {
        margin-top: 1.5em;
        margin-left: 2em;
        margin-bottom: 1em;
      }


      .line-dash {
        width: 100%;
        height: 1px;
        background-color: gray;
      }
      
      #genderSubmitDiv {
        margin-left: 15px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      #fullName {
        display: flex;
        input {
          width: 33%;
        }
      }

      #optional-div {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #alrhvanacc-label {
        margin-top: 12px;
      }

      //gender

      #gender-option {
        display: flex;
        width: 70%;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
        }
      }
      input {
        padding: 10px;
        margin: 10px;
        width: 70%;
      }

      #submitBttn {
        cursor: pointer;
        width: 15em;
        height: 3.5em;
        background-color: $primary-color;
        border-radius: 19px;
        border: none;
        margin-top: 23px;
      }

      a {
        margin-bottom: 10px;
      }
    }
  }
}
